@font-face {
  font-family: "Aleo";
  src: url(./assets/fonts/Aleo/Aleo-VariableFont_wght.ttf);
}

:root {
  --primary-background-color: #bfd1ff;
  --primary-darker-background-color: #a6b1e1;
  --secondary-background-color: #d1f247;
  --secondary-darker-background-color: #c2e812;
  --background-color: white;

  --primary-color: black;
  --secondary-color: white;
  --marked-text-color: #d1f247;

  --error-color: #b00020;
  --main-font-family: "Aleo";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./assets/images/main-heading-image-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  /* backdrop-filter: blur(10px); */
  padding: 2rem 2rem;
  /* border-radius: 2rem; */

  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); */
  /* border: 1px solid rgba(255, 255, 255, 0.2);  */
}

footer {
  background-color: var(--primary-background-color);
  padding: 4rem 2rem;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  background-color: var(--secondary-background-color);
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
}

nav ul li:hover {
  background-color: var(--secondary-darker-background-color);
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* padding: 2rem 2rem; */
  font-family: var(--main-font-family);
}

.logo h3 a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--primary-color);
}

.dark-mode h3 a {
  color: var(--secondary-color);
}

.marked-text {
  color: var(--marked-text-color);
}

.heading {
  width: 70%;
  display: flex;
  padding: 4rem 2rem;
  color: var(--secondary-color);
}

.heading h1 {
  font-size: 3.5rem;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 2rem;
}

.items button {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.3rem 0.5rem;
}

.items button img {
  width: 1.1rem;
  height: 1.1rem;
}

#items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.card {
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* justify-content: space-between; */
  background-color: var(--background-color);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: none;
  color: black;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-heading-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem 2rem;
}

.price {
  text-align: right;
  color: var(--marked-text-color);
}

@media (max-width: 768px) {
  #items-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .heading {
    width: 100%;
  }
}
