@font-face {
  font-family: "Aleo";
  src: url(../assets/fonts/Aleo/Aleo-VariableFont_wght.ttf);
}

:root {
  --primary-background-color: #bfd1ff;
  --primary-darker-background-color: #a6b1e1;
  --secondary-background-color: #d1f247;
  --secondary-darker-background-color: #c2e812;
  --background-color: white;
  --surface-background-color: white;
  --submit-button-background-color: black;

  --primary-color: black;
  --secondary-color: white;
  --marked-text-color: #d1f247;

  --error-color: #b00020;
  --main-font-family: "Aleo";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-background-color);
}

header {
  /* backdrop-filter: blur(10px); */
  padding: 2rem 2rem;
  /* border-radius: 2rem; */

  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); */
  /* border: 1px solid rgba(255, 255, 255, 0.2);  */
}

footer {
  padding: 4rem 2rem;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  background-color: var(--secondary-background-color);
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
}

nav ul li:hover {
  background-color: var(--secondary-darker-background-color);
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: var(--main-font-family);
}

.logo h3 a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--primary-color);
}

.marked-text {
  color: var(--marked-text-color);
}

.item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 2rem;
}

#item-wrapper {
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 3fr 9fr;
  gap: 2rem;
}

.card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;
  padding: 3rem 3rem;
  background-color: var(--background-color);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-heading-title {
  font-size: 2rem;
}

.price {
  color: var(--marked-text-color);
}

.card-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

#delete-btn {
  background-color: var(--error-color);
  color: var(--secondary-color);
  padding: 0.8rem 2rem;
  cursor: pointer;
  align-self: flex-start;
  border: none;
  border-radius: 2rem;
}

.success {
  color: var(--secondary-darker-background-color);
  font-size: 0.8rem;
  padding-top: 1rem;
}

.all-items-link {
  align-self: flex-start;
}

.all-items-link a {
  text-decoration: none;
  color: var(--primary-color);
}

.all-items-link a img {
  width: 1.1rem;
  height: 1.1rem;
}

@media (max-width: 768px) {
  #item-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
